/* 
These are some example stylings.
*/

/* Local image URLs specified in CSS are automatically inlined */
.placeholder-background-image {
  background: url("placeholder.svg") no-repeat, white;
  background-size: cover;
}

#infoContainer {
  right: 0;
  width: 25rem;
  position: fixed;
}

.lh-page {
  padding: 3rem;
}

form .lh-quill-field {
  border: 1px solid lightgray;
  min-width: 80%;
  padding: 1rem;
}

form p {
  text-align: justify;
}

form label {
  display: block;
  padding: 1rem;
  padding-left: 0;
  margin: 0.5rem 0;
}

form label input {
  margin: 0 1rem;
}
